.Card

	width: 180px
	background: #7386d5
	border: 5px solid #ffefef
	box-shadow 0 0 10px rgba(black,.5)
	border-radius: .5em
	color: white
	text-align: center
	padding .5em

	&-description
		background-color: #ff2c2c
		padding: .5em
		font-size: 15px
		margin-bottom .5em
		border 2px solid black
	&-name
		color white
		text-transform uppercase
		margin 0 0 .5em 0
		font-size 1em
	&-image
		width: 100%
	&-attack
		background black
		color white
		font-size .7em



