
p 

 .Card
      h2.Card-name Wolverine
      img.Card-image(src='public/images/05-Wolverine.png', alt='Wolverine')
      .Card-description Wolverine es muy poderoso
      .Card-attack 500 puntos de ataque