div(class="Battle")
					div(class="Battle-antagonist")
						include ../Card/template.jade
						include ../Card/template.jade
						include ../Card/template.jade
						include ../Card/template.jade
						include ../Card/template.jade
				div(class="Battle-player")
						include ../Card/template.jade
						include ../Card/template.jade
						include ../Card/template.jade
						include ../Card/template.jade
						include ../Card/template.jade